# gradle
.gradle
/build
gradle/wrapper/gradle-wrapper.properties

# idea
.idea
out
*.iml
*.ipr
*.iws

# eclipse
.metadata
.settings
bin
.classpath
.project
*.launch
eclipse

# generated
/classes
/exports
/run
/user

# misc
.DS_Store
*.blend1
*docs.json
TODO.md
*копия*